//styling for qustionsPage
.qustionsPage {
  background-color: #ffffff;
  font-family: "GalanoGrotesque";
  margin-top: 90px;
  .content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 15px 60px;

    a.morelink {
      display: none;
    }

    .Headng {
      padding: 50px 0px 20px;
      text-align: center;
      max-width: 950px;
      margin: 0 auto;

      h1 {
        font-size: 50px;
        font-weight: 600;
        font-family: "GalanoGrotesque-five";
        color: #606a89;
      }
      h5 {
        font-size: 25px;
        font-weight: normal;
        text-align: center;
        color: #606a89;
        padding-top: 10px;
        line-height: 30px;

        margin: 0 auto;
      }

      @media (max-width: 767px) {
        h1 {
          font-size: 22px;
        }
        h5 {
          font-size: 18px;
        }
      }
    }

    .cat_section {
      h4 {
        font-size: 14px;
        font-weight: bold;
        font-family: "GalanoGrotesque-Bold";
        letter-spacing: 1.4px;
        color: #283465;
        padding-top: 15px;
        text-transform: uppercase;
      }
      .Categories {
        display: flex;
        padding: 15px;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        cursor: pointer;

        &:hover,
        &.active {
          border-radius: 6px;
          border: solid 1px #1dcce9;
          background-color: #f0fdff;
        }

        &.active {
          .MuiButtonBase-root {
            display: block;
          }
        }

        img {
          max-width: 26px;
          height: 26px;
        }

        h2 {
          font-size: 11px;
          font-weight: 600;

          letter-spacing: 1.1px;
          color: #606a89;
          padding-left: 10px;
          margin: 0;
          padding-top: 7px;
          font-family: "GalanoGrotesque-SemiBold";
        }
        .MuiButtonBase-root {
          padding: 0px;
          display: none;
        }
      }
    }
    .seemore {
      font-size: 20px;
      font-weight: bold;
      font-family: CircularStd;
      text-align: center;
      color: #013eff;
      display: block;
      padding-top: 40px;
    }

    .post {
      .configuration {
        display: flex;
        justify-content: space-between;

        h4 {
          font-size: 14px;
          font-weight: bold;
          font-family: "GalanoGrotesque-Bold";

          letter-spacing: 1.4px;
          color: #283465;
          padding-top: 15px;
          text-transform: uppercase;
        }
      }

      .MuiSelect-select.MuiSelect-select {
        font-size: 14px;
        font-weight: 700;

        color: #023eff;
      }

      .MuiSelect-icon {
        display: none;
      }

      .MuiInput-underline:before {
        border-bottom: 2px solid #023eff;
      }
      .makeStyles-formControl-102 {
        margin: 0px 0px 15px;
      }

      .details {
        border-radius: 13px;
        background-color: #f1f6f9;
        padding: 30px 30px 0px;

        margin-bottom: 15px;
        h1 {
          font-size: 21px;
          font-weight: 500;
          font-family: "GalanoGrotesque-five";

          color: #283465;
        }

        .User {
          padding: 20px 0px 10px;

          img {
            float: left;
            width: 50px;
            margin-right: 15px;
          }

          h4 {
            font-size: 15px;
            font-weight: 500;
            padding-top: 10px;
            color: #283465;
            font-family: "GalanoGrotesque-five";
          }

          h6 {
            font-size: 13px;
            font-weight: 500;
            margin-top: -8px;
            color: #606a89;
            font-family: "GalanoGrotesque-five";
          }
        }

        p {
          font-size: 18px;
          font-weight: 400;
          color: #283465;
        }

        img {
          max-width: 100%;
        }

        .Social {
          padding: 20px 0px;
          display: flex;
          justify-content: space-between;

          img {
            width: 37px;
            height: 37px;
          }

          span {
            font-size: 13px;
            font-weight: 500;
            font-family: "GalanoGrotesque-five";
            text-align: right;
            color: #606a89;
            padding: 0px 10px;
          }
        }
      }
    }
  }
}
